@keyframes slide0 {
  0%,
  20% {
    opacity: 1;
  }
  25%,
  95% {
    opacity: 0;
  }
}

@keyframes slide1 {
  25%,
  45% {
    opacity: 1;
  }
  0%,
  20%,
  50%,
  100% {
    opacity: 0;
  }
}

@keyframes slide2 {
  50%,
  70% {
    opacity: 1;
  }
  0%,
  45%,
  75%,
  100% {
    opacity: 0;
  }
}

@keyframes slide3 {
  75%,
  95% {
    opacity: 1;
  }
  0%,
  70%,
  100% {
    opacity: 0;
  }
}
